/* === === === General === === === */

html, body {
    margin: 0;
    padding: 0;
}
html {
    --main-color: #71009A;
    --secondary-color: #EAAAFF;
    --alternative-color: #E3C7FF;
    --border-color: #DC73FF;
    --default-color: white;
    --opacity-color: #CEA7FFCC;

    --default-border-radius: 10px;
    --default-icons-size: 42px;

    --header-height: 70px;
    --nav-height: 80px;
    --footer-height: calc(100vh - (var(--header-height) + var(--nav-height)));
    --nav-buttons-num: 4;
}
html * {
    font-family: Arial, Helvetica, sans-serif;
}
button {
    cursor: pointer;
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: var(--header-height) 1fr var(--nav-height);
}
main {
    overflow-y: scroll;
}

/* Header bar */
.pageName {
    color: var(--default-color);
    font-size: 24px;
}
header {
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

/* Navigation bar */
.navBar {
    background: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(var(--nav-buttons-num), 1fr);
}
.navBtns {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: transparent;
    border: transparent;
}
.icons {
    height: var(--default-icons-size);
}
.navLbl {
    color: var(--main-color);
}
.navLink {
    text-decoration: none;
}

/* remove scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}
::-webkit-scrollbar-corner{
    display: none;
}

/* Footer */
footer {
    background: var(--alternative-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--footer-height);
}
footer > fieldset {
    border: 2px solid var(--border-color);
    border-radius: var(--default-border-radius);
    height: max-content;
    width: clamp(100px, 80%, 600px);
}
footer > fieldset > legend {
    color: var(--main-color);
    font-size: 20px;
}
footer > fieldset > a {
    text-decoration: none;
}
footer > fieldset > a > button {
    background: var(--secondary-color);
    color: var(--main-color);
    font-size: 20px;
    border: none;
    border-radius: var(--default-border-radius);
    display: grid;
    row-gap: 20px;
    grid-template-columns: 100px 1fr;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
}
footer > fieldset > a > button > label {
    justify-self: left;
}
footer > fieldset > a > button > img {
    width: 64px;
}

/* === === === Home page === === === */

.homeContent {
    background: url('./assets/img/diamond.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size:cover;
}
.homeContent > section {
    width: 100%;
    height: 100%;
}
.homeContent {
    display: grid;
    grid-auto-rows: 100%;
    overflow-y: scroll;
}
#welcomeBlock {
    backdrop-filter: blur(2px) brightness(0.5);
    display: grid;
    grid-template-rows: 100px 1fr 200px;
}
.sectionBlock {
    background: var(--alternative-color);
    border: 1px solid var(--border-color);
    color: var(--main-color);
    padding: 10px;
}
.sectionNameBlock {
    justify-self: left;
    align-self: center;
    width: fit-content;
    height: 50px;
    font-size: 32px;
    border-radius: 0px var(--default-border-radius) var(--default-border-radius) 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.introSection {
    place-self: center;
    width: fit-content;
    max-height: 100%;
    margin: 0 10%;
    border-radius: var(--default-border-radius);
}
.diamondInfoSection {
    justify-self: right;
    align-self: center;
    height: 100px;
    width: 300px;
    font-size: 16px;
    border-radius: var(--default-border-radius) 0px 0px var(--default-border-radius);
}
#diamondBlock {
    display: grid;
    grid-template-rows: 100px calc(100% - 300px) 200px;
}

/* === === === Food and Drink / Picnic Locations pages === === === */

.placesContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 2%;
    overflow-y: scroll;
}
.placeSection {
    height: fit-content;
    width: 100%;
    background: var(--alternative-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.imageContainer {
    position: relative;
    width: 100%;
    margin: 0px;
}
.imageContainer > img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--border-color);
    object-fit: cover;
}
.placeName {
    position: absolute;
    bottom: 5px;
    right: 0;
    color: var(--main-color);
    font-size: 16px;
    background: var(--opacity-color);
    padding: 5px 10px;
    border-radius: var(--default-border-radius) 0px var(--default-border-radius) var(--default-border-radius);
}
.mapIconBlock {
    position: absolute;
    background: var(--opacity-color);
    border-radius: var(--default-border-radius);
    padding: 4px;
    bottom: 5px;
    left: 1px;
}
.mapIcon {
    width: 20px;
}
.placeDescriptionBlock {
    background: var(--secondary-color);
    border-radius: var(--default-border-radius);
    color: var(--main-color);
    padding: 0 10px;
    width: clamp(200px, 600px, 90%);
    margin: 0px 0 20px 0px;
}
.placeDescriptionLbl {
    font-size: 14px;
}
.placeSection > a {
    display: block;
    margin: 20px 0px;
    width: clamp(200px, 600px, 90%);
}

/* === === === Quiz page === === === */

.quizContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 2%;
    overflow-y: scroll;
}
.quizImg {
    width: clamp(200px, 600px, 90%);
    margin: 20px 0px;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--border-color);
    object-fit: cover;
}
.questionSection {
    height: fit-content;
    width: 100%;
    background: var(--alternative-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px 0px;
}
.quizQn, .quizAn {
    color: var(--main-color);
    background: var(--secondary-color);
    border-radius: var(--default-border-radius);
    padding: 20px 10px;
    margin: 10px 0px;
    font-weight: bold;
    line-height: 30px;
}
.signLbl {
    background: var(--border-color);
    color: var(--main-color);
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 24px;
    margin: 5px 0px;
}
.quiz {
    width: clamp(200px, 600px, 90%);
}
.quiz > fieldset {
    border: 2px solid var(--border-color);
    border-radius: var(--default-border-radius);
    height: max-content;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.quiz > fieldset > legend {
    color: var(--main-color);
    font-size: 16px;
}
.optionLabel {
    margin: 10px 0px;
    background: var(--secondary-color);
    border-radius: var(--default-border-radius);
    border: 2px solid var(--secondary-color);
    color: var(--main-color);
    padding: 20px 10px;
}

.optionLabel:hover {
    background-color: var(--alternative-color); /* Hover background */
    border-color: var(--border-color);
}
.optionLabel input[type="radio"] {
    margin-right: 10px;
    display: none;
}
input[type="radio"]:checked + .signLbl {
    background-color: var(--main-color); /* Selected label background */
    color: var(--default-color); 
}
input[type="radio"]:checked ~ span {
    font-weight: bold;
    color: var(--main-color); /* Selected option text */
    background-color: var(--opacity-color);
}


/* === === === Contacts page === === === */
.contactsSection {
    height: fit-content;
    width: 100%;
    background: var(--alternative-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px 0px;
}
.contactsBlock {
    width: clamp(200px, 600px, 90%);
}
.contactsBlock > fieldset {
    border: 2px solid var(--border-color);
    border-radius: var(--default-border-radius);
    height: max-content;
    margin: 20px 0px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contactsBlock > fieldset > legend {
    color: var(--main-color);
    font-size: 16px;
}
.contactsBlock > fieldset > label {
    margin: 10px 20px;
    border-radius: var(--default-border-radius);
    color: var(--main-color);
    padding: 10px 10px;
}
.contactsForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.contactsForm > div {
    width: 80%;
    margin: 20px 0px;
}
.contactsForm > div > label {
    width: 100%;
    color: var(--main-color);
    font-size: 16px;
}
.contactsForm > div > input {
    width: 100%;
    margin: 10px 0px;
    background: var(--secondary-color);
    border-radius: var(--default-border-radius);
    color: var(--main-color);
    padding: 10px 10px;
    border: none;
    outline-color: var(--border-color);
    padding: 15px 10px;
}
.contactsForm > div > textarea {
    resize: vertical;
    width: 100%;
    height: 100px;
    margin: 10px 0px;
    background: var(--secondary-color);
    border-radius: var(--default-border-radius);
    color: var(--main-color);
    padding: 10px 10px;
    border: none;
    outline-color: var(--border-color);
}
.contactsForm > button {
    width: 50%;
    margin: 10px 0px;
    background: var(--border-color);
    border-radius: var(--default-border-radius);
    color: var(--default-color);
    padding: 10px 10px;
    border: none;
    outline-color: var(--border-color);
}